@media only screen and (max-width: 600px) {

  /* Changes mobile logo to specified image */
  .site-mantenimiento {
    display:none;
    content: url(“assets/img/cel.jpg“);
  }
}

.site-mantenimiento {
  display: inline-block;
  max-width: 100%;
}
